@(content: String)

<!DOCTYPE html>
<html>
<head>
    <title>Add a product</title>
    <link rel='shortcut icon' type='image/png' href='@routes.Assets.at("images/favicon.png")'>
    <link rel='stylesheet' href='@routes.WebJarAssets.at(WebJarAssets.locate("bootstrap.min.css"))'>
    <link rel='stylesheet' href='@routes.Assets.at("stylesheets/index.css")'>
    <script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("jquery.min.js"))'></script>
</head>
<body>
    <form action="/add" method="post">
		Enter the name of a new grocery item:
		<br />
        <input name="name">
        <input type="submit">
    </form>
    </div>
    <div class="container">
		Current Grocery items:
		<br />
        @content
    </div>
</body>
</html>