@(content: String, title: String, suggestions: String)

<!DOCTYPE html>
<html>
<head>
    <title>@title</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href='@routes.Assets.at("stylesheets/normalize.less")'>
		<link rel="stylesheet" href='@routes.Assets.at("stylesheets/foundation.min.less")'>
		<link rel="stylesheet" href='@routes.Assets.at("stylesheets/main.css")'>
    <link rel='shortcut icon' type='image/png' href='@routes.Assets.at("images/favicon.png")'>
    <link rel='stylesheet' href='@routes.Assets.at("stylesheets/bootstrap.min.less")'>
 
    <script type='text/javascript' src='@routes.Assets.at("javascripts/jquery-1.11.0.min.js")'></script>
     <script type='text/javascript' src='@routes.Assets.at("javascripts/main.js")'></script>
      <script type='text/javascript' src='@routes.Assets.at("javascripts/modernizr.js")'></script>
      <script type='text/javascript' src='@routes.Assets.at("javascripts/dynamicpage.js")'></script>
<body>

<section id="landing" class="landing">

<div class="row text-center">
    <div id="guts">
	<img src='@routes.Assets.at("images/logo.gif")'alt="Shoptimizer Logo">
	<h1 class="title">Shoptimizer</h1>
<table>
	<tr>
	<td>
	<form action="/display" method="post" class="text-center">
	<fieldset>
		<legend> Sort by</legend>
		<label><input type="checkbox" name="price"></input> Price </label>
		<label><input type="checkbox" name="unitprice"></input> unit price</label>
		<label><input type="checkbox" name="rating"></input> rating </label>
	</fieldset>
	
	<fieldset>
		<select name="filters">
			      <option name="brand" selected>
					<option name="publix" value="publix" > Publix</option>
					<option name="bush" value="bush"> Bush</option>
					<option name="goya" value="goya"> Goya </option>
		            <option name="organic" value="organic">Organic</option>
		</select>
		</fieldset>
		<input type="string" name="food" placeholder="Search for Groceries" class="box" autocomplete="off">
		
		
		<input type="submit" name="Search" value="Search" class="search">
	</form>
	</div>
</div>
</td>
<td>

Suggestion

</td>
</tr>
</table>

    <div class="container" style="color:black">
        @content
    </div>
	</section>
</body>

</html>