@(title: String)(content: Html)

<!DOCTYPE html>
<html>
<head>
    <title>@title</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href='@routes.Assets.at("stylesheets/normalize.less")'>
		<link rel="stylesheet" href='@routes.Assets.at("stylesheets/foundation.min.less")'>
		<link rel="stylesheet" href='@routes.Assets.at("stylesheets/main.css")'>
    <link rel='shortcut icon' type='image/png' href='@routes.Assets.at("images/favicon.png")'>
    <link rel='stylesheet' href='@routes.Assets.at("stylesheets/bootstrap.min.less")'>
 
    <script type='text/javascript' src='@routes.Assets.at("javascripts/jquery-1.11.0.min.js")'></script>
     <script type='text/javascript' src='@routes.Assets.at("javascripts/main.js")'></script>
      <script type='text/javascript' src='@routes.Assets.at("javascripts/modernizr.js")'></script>
      <script type='text/javascript' src='@routes.Assets.at("javascripts/dynamicpage.js")'></script>
<body>
    </html>

<section id="landing" class="landing">

<div class="row text-center">
    <div id="guts">
    <h1 class="title">Shoptimizer</h1>
    
	<img src='@routes.Assets.at("images/logo.gif")'alt="Shoptimizer Logo" style="width:100%">
	

	<form class="text-center">
		<input type="string" name="food" placeholder="Search for Groceries" class="box" autocomplete="off">
		<input type="submit" value="Search" class="search">
	</form>
	</div>
</div>
</section>

</body>

</html>